@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap");
/* Landscape phones and down */
/* Portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Portrait laptop to large desktop */
/* Large desktop */
:root {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", "Roboto", sans-serif;
}
@media (min-width: 980px) {
  body {
    font-size: 1.8rem;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}
@media (min-width: 979px) {
  .container {
    max-width: 1300px;
  }
}

.nav {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav a {
  font-size: 1.6rem;
  font-weight: 500;
}
.nav__logo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 3px;
}
.nav__logo p {
  font-weight: 600;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3.5rem;
}
@media (max-width: 980px) {
  .nav__list {
    display: none;
  }
}
.nav__list--link {
  opacity: 0.7;
}
@media (min-width: 980px) {
  .nav__burger {
    display: none;
  }
}
@media (max-width: 980px) {
  .nav__desktop {
    display: none;
  }
}
.nav__desktop > a:first-child {
  margin-right: 1.2rem;
}

@media (min-width: 980px) {
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 980px) {
  .hero__left {
    max-width: 49rem;
  }
}
.hero__title {
  font-size: 3rem;
}
@media (min-width: 980px) {
  .hero__title {
    font-size: 4rem;
    line-height: 4.3rem;
  }
}
.hero__subtitle {
  line-height: 2.4rem;
  margin: 2rem 0;
}
@media (min-width: 980px) {
  .hero__subtitle {
    margin: 2.4rem 0;
  }
}
.hero__img {
  margin: 5rem auto 0;
  max-width: 44rem;
}
@media (min-width: 980px) {
  .hero__img {
    margin: 0;
  }
}

.btn {
  background-color: #2B59FF;
  color: #FFF;
  font-weight: 500;
  padding: 1.2rem 1.6rem;
  border-radius: 0.4rem;
  display: inline-block;
}
@media (min-width: 980px) {
  .btn {
    font-size: 1.6rem;
  }
}

.trust {
  margin-top: 3.2rem;
  display: flex;
  column-gap: 3rem;
}
.trust__gallery {
  position: relative;
  width: 8.5rem;
}
.trust__gallery img {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  top: 0;
  border: 1px solid #FFF;
  border-radius: 100px;
}
.trust__gallery img:nth-child(1) {
  z-index: 0;
}
.trust__gallery img:nth-child(2) {
  z-index: 2;
  left: 2.5rem;
}
.trust__gallery img:nth-child(3) {
  z-index: 2;
  left: 5rem;
}
.trust__stats span {
  font-weight: 600;
}

h1 {
  font-family: "Roboto Slab", serif;
}

/*# sourceMappingURL=styles.css.map */
