.btn {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
    background-color: $primary;
    color: #FFF;
    padding: 1.2rem 1.6rem;
    border-radius: 0.4rem;
    transition: .3s ease-in-out;
    &:hover {
        background-color: rgba($color: $primary, $alpha: .9);
    }
}