.section__title {
    font-family: $font-title;
    font-weight: 600;
    text-align: center;
    font-size: 2.4rem;
    line-height: 140%;
    padding: 4rem 0;
    @include sm {
        font-size: 3rem;
    }
}