:root {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    // color: $text;
    font-family: $font-body;
    font-size: 1.8rem;
    line-height: 3.2rem;
    background-color: $gray-bg;
    // max-width: 100vw;
    // overflow-x: hidden;
}

h1, h2, h3, h4 {
    color: $title-dark;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}