header {
    @include sm {
        background-color: #FFF;
    }
    .nav {
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            font-size: 1.6rem;
            font-weight: 500;
        }
        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 3.5rem;
            @include no-mobile {
                display: none;
            }
            &--link {
                opacity: .7;
            }
        }
        &__burger {
            @include sm {
                display: none;
            }
        }
        &__desktop {
            // background-color: red;
            @include no-mobile {
                display: none;
            }
            & > a:first-child {
                margin-right: 1.2rem;
            }
        }
        &__mobile {
            height: calc(100vh - 92px);
            width: 100vw;
            position: absolute;
            top: 92px;
            right: -101vw;
            // background-color: red;
            background-color: $gray-bg;
            z-index: 1000;
            // display: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            row-gap: 3rem;
            line-height: normal;
            transition: .3s ease-in-out;
            &.show {
                // display: flex;
                right: 0;
            }
            ul {
                display: flex;
                flex-direction: column;
                row-gap: 3rem;
            }
            @include sm {
                display: none;
            }
        }
    }
}