.hero {
    @include sm {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        @include sm {
            max-width: 49rem;
        }
    }
    &__title {
        font-size: 3rem;
        @include sm {
            font-size: 4rem;
            line-height: 4.3rem;
        }
    }
    &__subtitle {
        // font-size: 2.4rem;
        line-height: 2.4rem;
        margin: 2rem 0;
        @include sm {
            margin: 2.4rem 0;
        }
    }
    &__img {
        margin: 5rem auto 0;
        max-width: 44rem;
        @include sm {
            margin: 0;
        }
    }
}